main{
    display:flex;
    justify-content:center;
}

.container-show{
    max-width: 1280px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.container-product-description{
    margin-top:20px;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
}

.galeria{
    width: 100%;
}

.observacao{
    margin-top:10px;
}

.card-image{
    width: 340px;
    height:295px;
}

.sub__card{
    margin-top: 10px;
    padding:0 10px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 10px;
}

.sub-card-image{
    width: 82px;
    height:74px;
    justify-self:center;
}

.description__title{
    font-size:28px;
    font-weight:600;
}

.description__text{
    width: 452px;
    font-size: 25px;
    color: #565959;
}

.card-action{
    width:297px;
    border: 1px solid black;
    padding:15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-action h4{
    font-size:25px;
}

.text__price{
    font-size: 25px;
}

.text__price span{
    font-size:10px;
    position:relative;
    top:-15px;
}

.promo{
    font-size:18px!important;
    position:relative;
    top:5px!important;
    text-decoration: line-through;
    color:#666666;
}

.card-desconto{
    padding:2px;
    height: 29px;
    font-weight: bold;
    background-color:#E47911;
    width:121px;
    font-size:14px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card-desconto p{
  margin: auto 0;
  color:#ffffff;
}

.buttons{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.add__cart, .buy__now{
    text-decoration: none;
    color:#000;
    padding:10px;
    margin-bottom: 10px;
    width:250px;
    text-align:center;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.add__cart{
    background:#FFD814;
}

.add__cart:hover{
    color:#000;
    background:#fae26d;
}

.buy__now{
    background: #FFA41C;
    margin-bottom: 20px;
}

.buy__now:hover{
    color:#000;
    background: #ffb444;
}

.text_frete{
    font-weight: 700;
}

.observacao_text{
    margin-top: 20px;
    font-size: 18px!important;
}